.serverCreationStatusClass {
    background-color: blueviolet;
}

/* .appServerDiv {
    background-color:mediumslateblue;
    padding: 5px;
    margin: 10px;
    color: azure;
} */

.assignment2 {
    color: chocolate;
    background-color: blanchedalmond;
    padding: 10%;
    border: brown 1pt solid;
}